service:
  name: serverless-aws-alexa-ts

# Add the serverless-webpack plugin
plugins:
  - serverless-webpack

custom:
  webpack:
    webpackConfig: 'webpack.config.ts'

provider:
  name: aws
  runtime: nodejs8.10
  memorySize: 128
  timeout: 60
  stage: develop

functions:
  handler:
    handler: handler.hello
    events:
      - alexaSkill
    environment:
      TZ: ${file(./config/config.yml):${self:provider.stage}.timezone}
      APP_ID: ${file(./config/config.yml):${self:provider.stage}.alexa.APP_ID}
